@import "../../../styles/index"

.filter
  width 100%
  text-align center

  &__item
    padding 0 10px
    display inline-block
    vertical-align top

    &__title
      text-transform uppercase

@media only screen and (max-width: 900px)
  .filter__item
    display block

